
<nav>
    <div class="site-title">
        <a href="/">
            <h1>College Companion</h1>

        </a>
    </div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <ul>
        <li> <a href="/resources">Resources</a>
        </li>
        <li> <a href="/about">About</a></li>
        <li> <a href="/resources/upload">Upload</a>
        </li>
    </ul>
</nav> 