<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body>
    <%-include('../partials/nav.ejs')%>
    <div class="content">
    <h1>About</h1>
<p>This Website is by the students of the students for the students. Anyone can easily upload notes,papers and other important resources link here for other stuents to acess them easily. </p>
</div>
<%-include('../partials/footer.ejs')%>
</body>
</html>